body {
	background: #ccc url("../imgs/bg-pagina.fw.png") no-repeat center center;
	font-family: "Trebuchet MS";
}
h2 {
	background-color: #F50;
	color: #fff;
	font-size: 1.8em;
	margin: -10px -15px 10px -5px;
	padding: 10px 10px;
	text-shadow: 2px 2px 3px darken(#F50, 40%);
}
h3 {
	font-size: 1.6em;
	font-weight: bold;
	margin: 20px 0 5px 0;
}
#centralizador {
	height: 450px;
	list-style: none;
	margin: 150px 0 0 380px;
	padding: 10px;
	width: 490px;
}
#slider-id-wrapper, .coda-slider, .panel {
	height: 100% !important;
}